@import "tailwindcss";


@theme inline { /* Tailwind utility class names */
  --color-background: var(--bg-primary);
  --color-background-secondary: var(--bg-secondary);
  --color-foreground: var(--fg-primary); 
  --color-foreground-secondary: var(--fg-secondary); 
  --color-accent-1: var(--accent-primary);
  --color-accent-2: var(--accent-secondary);
  --color-error: var(--error);
}

:root { /* light mode default */
  box-sizing: border-box;
  --bg-primary: #e3e7e8;
  --bg-secondary: #d0d6d8;
  --fg-primary: #090b0c;
  --fg-secondary: #22292b; 
  --accent-primary: #10b981;
  --accent-secondary: #3b82f6; 
  --error: #ef4444; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #090b0c;
    --bg-secondary: #161b1d; 
    --fg-primary: #e3e7e8;
    --fg-secondary: #d0d6d8; 
    --accent-primary: #047857;
    --accent-secondary: #1d4ed8; 
  }
}

body {
  background: var(--bg-primary);
  color: var(--fg-primary);
  font-family: Arial, Helvetica, sans-serif;
  border: var(--error) 1px solid;
  min-height: 100vh;
}
